<div class="d-flex aling-items-center justify-content-center h-100 flex-column text-center">
    <div class="div pt-5">Ups.... No pudimos resolver la ruta</div>
    <div class="mt-5"><a href="/" class="text-decoration-underline">Volver al inicio</a></div>
</div>