<div class="container-md">
    <div class="col-md-8 offset-md-2">
        <div class="h5 text-center">Log In </div>
        <form autocomplete="off" action="/login" method="post">
            <div class="form-group">
                <label>Email:</label>
                <input class="form-control" required type="email" name="email"/>
            </div>
            <div class="form-group mt-1">
                <label>Password:</label>
                <input class="form-control" required type="password" name="password"/>
            </div>
            <div class="form-group mt-3">
                <input class="btn btn-secondary" type="submit" value="Log In"/>
            </div>
            {{#if error}}
                <div class="alert bg-warning mt-1">Lo sentimos, usuario o contraseña incorrectos.</div>
            {{/if}}
        </form>
        <div class="text-end mt-1">
            <span>¿No estas registrado?</span><a href="/signup" class="text-dark ps-2">Crear una cuenta</a>
        </div>                  
    </div>          
</div>