<div class="container-md">
    <div class="col-md-8 offset-md-2">
        <div class="h5 text-center">Sign Up</div>
        <form autocomplete="off" action="/signup" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
            <div class="form-group">
                <label>Nombre:</label>
                <input class="form-control" required type="text" name="nombre"/>
            </div>
            <div class="form-group mt-3">
                <label>Dirección:</label>
                <input class="form-control" required type="text" name="direccion"/>
            </div>
            <div class="form-group mt-3">
                <label>Edad:</label>
                <input class="form-control" required type="text" name="edad"/>
            </div>
            <div class="form-group mt-3">
                <label>Tel:</label>
                <input id="phone" class="form-control" required type="tel" name="telefono"/>
            </div>
            <div class="form-group mt-3">
                <label>Foto:</label>
                <input class="form-control" required type="file" name="imagen" accept=".jpg, .jpeg, .png"/>
            </div>
            <div class="form-group mt-3">
                <label>Email:</label>
                <input class="form-control" required type="email" name="email"/>
            </div>    
            <div class="form-group mt-3">
                <label>Password:</label>
                <input class="form-control" required type="password" name="password"/>
            </div>
            <div class="form-group form-group mt-3">
                <input class="btn btn-secondary" type="submit" value="Sign Up"/>
            </div>
            {{#if fail}}
            <div class="alert bg-danger mt-1">Lo sentimos, no podemos registrar el usuario.</div>
            {{/if}}
        </form>                  
    </div>          
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        separateDialCode: true,
        hiddenInput : "fullPhone",
        utilsScript:
        "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>